<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miniProject.dao.UserScheduleVerifyFormMapper" >
  <resultMap id="BaseResultMap" type="com.miniProject.model.UserScheduleVerifyForm" >
    <result column="pub_user_id" property="pubUserId" jdbcType="VARCHAR" />
    <result column="pub_user_name" property="pubUserName" jdbcType="VARCHAR" />
    <result column="pub_user_type" property="pubUserType" jdbcType="INTEGER" />
    <result column="house_id" property="houseId" jdbcType="VARCHAR" />
    <result column="houseName" property="housename" jdbcType="VARCHAR" />
    <result column="house_statu" property="houseStatu" jdbcType="BIT" />
    <result column="sub_user_id" property="subUserId" jdbcType="VARCHAR" />
    <result column="live_sub_info_id" property="liveSubInfoId" jdbcType="VARCHAR" />
    <result column="verify_flag" property="verifyFlag" jdbcType="INTEGER" />
    <result column="portrait_file_name" property="portraitFileName" jdbcType="INTEGER" />
    <result column="verify_begin_time" property="verifyBeginTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pub_user_id,portrait_file_name,live_sub_info_id,pub_user_name, pub_user_type, house_id, houseName, house_statu, sub_user_id, verify_flag, verify_begin_time
  </sql>
  <select id="getUserScheduleByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from UserScheduleVerify
    where sub_user_id = #{0,jdbcType=VARCHAR}
    and verify_flag=#{1,jdbcType=INTEGER}
    ORDER BY verify_begin_time ASC
    LIMIT #{2,jdbcType=INTEGER},10
  </select>
  <select id="getUserAllScheduleByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from UserScheduleVerify
    where sub_user_id = #{0,jdbcType=VARCHAR}
    and verify_flag=#{1,jdbcType=INTEGER}
    ORDER BY verify_begin_time ASC
  </select>
  
  
  <select id="getUserScheduleCountByUserId" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select
    COUNT(*)
    from UserScheduleVerify
    where sub_user_id = #{0,jdbcType=VARCHAR}
    and verify_flag=#{1,jdbcType=INTEGER}
   </select>
  <update id="updateByPublicKeySelective" parameterType="com.miniProject.model.UserScheduleVerifyForm" >
    update UserScheduleVerify
    <set >
      <if test="verify_flag != null" >
        verify_flag = #{verifyFlag,jdbcType=INTEGER},
      </if>
    </set>
    where sub_user_id = #{subUserId,jdbcType=VARCHAR}
    and house_id=#{houseId,jdbcType=VARCHAR}
    and verify_begin_time=#{verifyBeginTime,jdbcType="TIMESTAMP"}
  </update>
</mapper>